div {
  box-sizing: border-box;
  border: 1px solid black;
}

.buttonBox {
  display: flex;
  width: 100%;
}

.mbti-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mbti-btn button {
  width: 80%;
}
