/* Umba Sans 폰트 적용 */
@font-face {
  font-family: "umbasans";
  src: url("./font/UmbaSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
/* css 초기화 */
body {
  text-align: center;
  font-family: "umbasans";
  color: white;
  background-color: #7CD6D9;
  --dot-size : 2px;
}

* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* display : flex */
.flex { 
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* display : none  */
.hidden{
  display: none;
}

/* content wrapper */
#content-wrapper {
  margin: 30px auto;
  background-color:#F5F5F5;
  border: 2px solid black;
  width: 400px;
  height: 711px;
}

/* 제목 */
.title { 
  margin: 20px;
  font-size: 50px;
  color: #565656;
}

/* title input */
#titleInput {
  font-family: 'umbasans';
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #565656;
  width: 70%;
  height: 30px;
}
#titleInput::-webkit-input-placeholder {
  color: #ababab;
}
/* input 태그 focus 스타일링 지우기 */
#titleInput:focus {
  outline-width: 0;
}

#InputButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #565656;
}
#InputButton:active {
  background-color: #ababab;
}
.plus-button {
  opacity: 0;
  transition: opacity 0.4s;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  margin: 20px auto;
  position: relative;
  transform-style: preserve-3d;
  width: 80%;
  border: 2px solid #565656;
  padding: 10px 0;
  background-color: white;
  color: #565656;
  text-align: left;
}
.todo-wrapper::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #565656;
  transform: translateZ(-1px);
}

.checkBox {
  position: relative;
  border: 1px solid #565656;
  width: 30px;
  height: 30px;
  margin-left : 10px;
  border-radius: 15px;
}
.check-mark {
  position: absolute;
  top: -2px;
  left: 5px;
}

.todo-wrapper .todo-title {
  margin-left: 10px;
}

.todo-title::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #565656;
}

